<soho-icons></soho-icons>
<soho-icons-empty></soho-icons-empty>
<nav
  id="application-menu"
  soho-application-menu
  [openOnLarge]="true"
  [filterable]="false"
>
  <div>
    <label class="audible" for="application-menu-searchfield">Search</label>
  </div>
  <div
    class="accordion panel inverse"
    data-options='{"allowOnePane": true, "rerouteOnLinkClick": false}'
  >
    <div style="margin-top: 10px">
      <div>
        <p></p>
        <app-supplier></app-supplier>
      </div>
      <div style="margin-top: 20px">
        <app-warehouse></app-warehouse>
      </div>
      <div style="margin-top: 20px">
        <app-receiptdate></app-receiptdate>
      </div>

      <button
        style="margin-top: 20px; float: right"
        (click)="Apply1()"
        soho-button="primary"
        title="New"
      >
        &nbsp;&nbsp;Apply&nbsp;&nbsp;
      </button>
    </div>

    <div style="margin-top: 150px">
      <p (click)="gr_inprogress()" style="color: white; cursor: pointer">
        Grower Returns- Ready to Process
      </p>
      <p (click)="gr_processed()" style="color: white; cursor: pointer">
        Grower Returns- Processed
      </p>
    </div>
  </div>
</nav>

<div class="page-container no-scroll">
  <header class="header">
    <div class="toolbar" role="toolbar">
      <div class="title">
        <button
          type="button"
          id="appmenu-trigger"
          class="btn-icon application-menu-trigger"
        >
          <span class="audible">Open Menu</span>
          <svg soho-icon icon="menu"></svg>
        </button>
        <h1>Grower:&nbsp;{{ SUNM }}</h1>
      </div>
    </div>
  </header>
  <div id="maincontent" class="page-container scrollable" role="main">
    <router-outlet></router-outlet>
  </div>
</div>
